@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --cor-principal: #011936;
    --cor-secundaria: #A9DBB8;
    --cor-terciaria: #E2E2E2;
}

/* ..........FONTE DA EXCELENCIA.............  */
@font-face {
    font-family: 'Rezland';
    src: url(/Font/REZ.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* .......... FIM FONTE DA EXCELENCIA.............  */

body {
    background-color: var(--cor-principal);
    color: white;
    font-family: 'Josefin sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 350;
}

p {
    font-weight: 200;
}

.titulo-principal {
    font-family: 'Rezland', sans-serif;
    font-weight: normal;
}

/* .................... NAVBAR TEMA ESCURO ..................  */
.botoes-maiores {
    font-size: 18px;
}

li,
a,
button {
    font-family: 'Josefin sans', sans-serif;
    font-size: 23px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--cor-principal);
}

.logo img {
    height: 30px;
    width: auto;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    padding: 0 14px;

}

.nav-links li a:hover {
    color: var(--cor-secundaria);
    transition: 0.3s;
}

#planoslink {
    padding: 10px 20px;
    font-weight: 400;
    background-color: var(--cor-principal);
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

#planoslink:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    border: 1px solid var(--cor-secundaria);
    transition: 0.6s;
}


button {
    padding: 10px 20px;
    background-color: whitesmoke;
    color: var(--cor-principal);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    transition: 0.6s;
}

@media screen and (max-width: 800px) {

    .logo img {
        height: 28px;

    }

    li,
    a,
    button {
        font-size: 17px;
    }

    .nav-links li {
        padding: 0 6px;

    }

    #botaoentrar {

        font-size: 13px;
    }

    .botoes-maiores {
        font-size: 13px;

    }

}

@media screen and (max-width: 630px) {

    .logo img {
        height: 20px;

    }

    li,
    a,
    button {
        font-size: 14px;
    }

    .nav-links li {
        padding: 0 3px;

    }

    #botaoentrar {
        padding: 6px 12px;
        font-size: 10px;
        border-radius: 7px;
    }

    #planoslink {
        padding: 6px 12px;
        font-size: 10px;
        border-radius: 7px;
    }

}

/* .................... FIM NAVBAR TEMA ESCURO ..................  */




/* ................... CONTEÚDO PRINCIPAL INTRODUÇÃO ....................  */

#home {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 60px;
}

.titulo-principal {
    font-size: 50px;
    max-width: 500px;
}

.subtitulo,
.texto-intro {
    padding-top: 10px;
    max-width: 500px;
    font-size: 20px;
}

.subtitulo {
    margin-top: 5px;
    font-weight: 400;
}

.texto-intro {
    margin-top: 5px;
    margin-bottom: 25px;
    font-weight: 350;
}

#mulher-imagem {
    width: 600px;
    max-width: 600px;
    height: auto;
    margin-left: 50px;
}

.container1 {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.imagem1 {
    flex: 1;
    text-align: center;
}

.infos {
    width: 100%;
    height: auto;
    padding: 200px;
}

.botoestexto {
    display: inline-block;
    margin-right: 15px;
    padding: 10px 20px;
    background-color: whitesmoke;
    color: var(--cor-principal);
    border-radius: 10px;
    font-weight: 500;
}
.botoestexto:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    transition: 0.6s;
}



@media screen and (max-width: 1200px) {
    #mulher-imagem {
        width: 400px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 900px) {
    #mulher-imagem {
        width: 300px;
        margin-left: 20px;
    }
    
    #home {
        padding: 30px;
    }
}

@media screen and (max-width: 700px) {
    #home {
        flex-direction: column;
        padding: 20px;
    }

    #mulher-imagem {
        width: 100%;
        max-width: 350px;
        margin-left: 0;
        margin-top: 30px;
    }
}




/* ................... FIM CONTEÚDO PRINCIPAL INTRODUÇÃO ....................  */